.search_m  
  =form_tag admin_comments_path,:method=>:get do
    .search_area
      =text_field_tag "search",params[:search], :class => "searchbox"
      =submit_tag I18n.t("common.search"), :class => "searchbtn"
