-user = comment.user
.comment
  .meta
    %span.user_face.tiny.block_left
      -if !user.has_avatar?
      -else
        =link_to(user) do
          =image_tag user.avatar.url(:tiny),:class=>'user_face'
    %span.author_info
      =link_to user.name, user
      =comment.address
    %span.date_time
      =comment.created_at.full_str
  .content
    =comment.content
  .operates
    %span.operate
      -if current_user == comment.user
        =link_to I18n.t("view.destroy"),comment_path(comment),:confirm=>"are you sure?",:method=>:delete
