
-if flash[:error]
  .messages
    =flash[:error]

=form_for [:admin, @article] do |f|
  .article_name
    %label
      =I18n.t("view.article.name")
    =f.text_field :name, :class => "inputbox"

  .article_summary
    %label
      =I18n.t("view.article.summary")
    =f.text_area :summary, :class=>"textarea", :rows=>2, :cols=>35

  .article_guide
    %label
      =I18n.t("view.article.guide")
    =f.select :guide_id, Guide.all.map{|c| [c.name,c.id]},{:prompt => I18n.t("view.prompt.select_guide")}

  .article_pass
    %label
      =I18n.t("view.article.check")
    =f.select :is_pass, DictionaryEntity::PASS_MAP

  .article_tag
    %label
      =I18n.t("view.article.review")
    =f.select :allow_comment, DictionaryEntity::REVIEW_MAP

  .article_sort
    %label
      =I18n.t("view.article.sort")
    =f.text_field :sort, :class => "inputbox"

  .article_content
    %label
      =I18n.t("view.article.content")
    =f.text_area :content, :rows=>15, :cols=>50

  .submit
    =f.submit I18n.t("common.save")
    =link_to I18n.t("common.back"), admin_articles_path
