.content_list
  %table{:width => "100%"}
    %thead
      %tr{:style => 'text-align:left;'}
        %th{:width => "10%"}
          =I18n.t("view.article.name")
        %th 
          =I18n.t("view.article.guide")
        %th 
          =I18n.t("view.article.author")
        %th{:width => "15%"}
          =I18n.t("view.article.review_stat")
        %th
          =I18n.t("common.upd_date")
        %th
          =I18n.t("view.article.review")
        %th 
          =I18n.t("view.article.check")
        %th{:width => "15%"} 
          =I18n.t("common.operator")
    %tbody
      -for article in @articles
        %tr
          -article_id = article.id
          %td
            =link_to article.name[0..10], article_path(article_id)
          %td
            =article.guide.name
          %td
            =article.author
          %td
            =link_to article.comments_count,edit_admin_comment_path(:id=>article_id,:host_id=>article_id,:host_type=>article.class.to_s)
          %td
            =article.updated_at.full_str
          %td
            -if article.allow_comment? 
              =link_to I18n.t("common.comment.close"), toggle_allow_comment_admin_article_path(article_id), :method=>:put
            -else
              =link_to I18n.t("common.comment.open"), toggle_allow_comment_admin_article_path(article_id), :method=>:put
          %td
            -if article.is_pass?
              =link_to I18n.t("common.approval.cancel"), toggle_is_pass_admin_article_path(article_id), :method=>:put
            -else
              =link_to I18n.t("common.approval.pass"), toggle_is_pass_admin_article_path(article_id), :method=>:put
          %td
            =link_to I18n.t("common.edit"), edit_admin_article_path(article_id)
            =link_to I18n.t("common.del"), admin_article_path(article_id), :method => :delete, :confirm=>I18n.t("common.confirm_destroy")

  =will_paginate @articles
