.article_list_item
  =link_to article.name, article_path(article) 
  =article.summary 
  =link_to I18n.t("view.article.list_edit"), edit_article_path(article.id)
  =button_to I18n.t("view.article.list_del"), article_path(article.id),:method => :delete
