.article_title
  =I18n.t("view.article.create_title")

-if flash[:error]
  =flash[:error]

=form_for @article,:url=>{:action=>:create} do |f|
  .article_name
    =I18n.t("view.article.name")
    =f.text_field :name
  .article_summary
    =I18n.t("view.article.summary")
    =f.text_field :summary
  .article_guide  
    =I18n.t("view.article.guide")
    =f.text_field :guide
  .article_tag
    =I18n.t("view.article.tag")
    =f.text_field :comment_tag
  .article_sort
    =I18n.t("view.article.sort")
    =f.text_field :sort
  .article_content
    =I18n.t("view.article.content")
    =f.text_area :content
  .submit
    =f.submit I18n.t("view.article.create")
