.name
  =@article.name
.summary
  =@article.summary
.content
  =@article.content
.create_date
  =@article.created_at.full_str
.update_date
  =@article.updated_at.full_str

.comment_new
  =render :partial=>"/comments/form",:locals=>{:host=>@article, :comment=>@article.comments.new}

-if @comments.size > 0
  .comments
    =render :partial=>"/comments/info",:collection=>@comments,:as=>:comment
  =will_paginate @comments

