=stylesheet_link_tag "articles"

.article
  %h2.name
    =@article.name
  .meta
    =@article.created_at.full_str
    =link_to @article.user.name, user_path(@article.user)
  .summary
    =@article.summary
  .content
    =@article.content

  -if @comments.size > 0
    .comments
      =render :partial=>"/comments/info",:collection=>@comments,:as=>:comment
    =will_paginate @comments

  .comment_new
    =render :partial=>"/comments/form",:locals=>{:host=>@article, :comment=>@article.comments.new}

