.users_manage
  =link_to I18n.t("view.admin.users"), admin_users_path 
.guides_manage
  =link_to I18n.t("view.admin.guides"), admin_guides_path
.articles_manage
  =link_to I18n.t("view.admin.articles"), admin_articles_path

