/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

.container{margin: 0 auto;width: 960px;}

.passport{left: 0;top: 0;width: 100%;min-width: 960px;height: 27px;border-bottom: 1px solid #CACACA;vertical-align: middle;font-size: 12px;}
.top_nav{float:right;vertical-align: middle;padding: 5px 5px 5px 5px;}

.header{height: 100px;}
.head_logo{height: 70px;}

.guides{height: 30px;}

.main_content{height: 700px;}
.footer{color: #000000;text-align: center;}

.info_message{}

a.info{color: #222222;text-decoration: none;}
a.info:hover{color: #4183c4;text-decoration: none;}
a{color: #1E50A2;text-decoration: none;}
a:hover{color: #BA2636;text-decoration: underline;}
