/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

.passport{left:0;top:0;width:100%;min-width:960px;height:27px;color:#727171 }
.header{width:960px;height:50px;}
.main_content{height:700px;width:960px;}
.footer{width:960px;margin:0 auto;color:#000;text-align:center;}
