-if !!current_user
  .login{:style=>"float:left;"}
    =link_to current_user.login,user_path(current_user.id) 
  .logout{:style=>"float:left;"}
    =button_to I18n.t("view.login.logout"), session_destroy_path,:method=>:delete
  .avatar{:style=>"float:left;"}
    -if current_user.avatar_file_name.blank?
      =link_to I18n.t("view.users.avatar_new"), avatar_new_user_path(current_user)
    -else
      =image_tag current_user.avatar.url(:thumb)
-else
  =link_to I18n.t("view.login.login"), session_new_path
  =link_to I18n.t("view.login.reg"), new_user_path

