-if !!current_user
  .login{:style=>"float:left;margin-right:5px;"}
    =link_to current_user.login,user_path(current_user.id),:class=>"info"
  .logout{:style=>"float:left;margin-right:5px;"}
    =link_to I18n.t("view.login.logout"), session_destroy_path,:method=>:delete,:class=>"info"
  .avatar{:style=>"float:left;margin-right:5px;"}
    -if !current_user.has_avatar?
      =link_to I18n.t("view.users.avatar_new"), avatar_new_user_path(current_user),:class=>"info"
    -else
      =image_tag current_user.avatar.url(:tiny)
-else
  =link_to I18n.t("view.login.login"), session_new_path,:class=>"info"
  =link_to I18n.t("view.login.reg"), new_user_path,:class=>"info"

