=stylesheet_link_tag 'index'

.top_area
  .pictures
  .top_news
    .head
    %ul
      -@articles.each do |article|
        %li
          =link_to article.name.truncate(20), article_path(article), :title => article.name, :class => 'data' 
    .more
      =link_to I18n.t('common.more'), articles_path, :target => '_blank' 

.half_area

.area
  .left_area
  .main_area
    .middle_container
      .commend
      .news
    .right_container

