=stylesheet_link_tag 'index'
=javascript_include_tag 'index'
=javascript_include_tag "jquery.easing.1.3.js"
=javascript_include_tag "jquery.timer.js"

.top_area
  .pictures
    %ul#slideshow
      -@pictures.each_with_index do |picture, index|
        %li{:class => "box#{index + 1}"}
          =link_to picture.host do 
            =image_tag picture.photo.url, :size=>'580x325'

  .top_news
    .head
    %ul
      -@articles.each do |article|
        %li
          =link_to article.name.truncate(20), article_path(article), :title => article.name, :class => 'data' 
    .more
      =link_to I18n.t('common.more'), articles_path, :target => '_blank' 

.half_area

.area
  .left_area
  .main_area
    .middle_container
      .commend
      .news
    .right_container

