.area
  .left_area
    something
    one
    two
  .main_area
    .middle_container
      this is the main things 
      .commend
        %ul
          %li
            commend design
      .news
        %ul
          %li
            hello,it a li
          %li
            anthor li
          %li
            the third li
    .right_container
      i am somthing in the right

.area
