-if flash[:error]
  = flash[:error]

用户注册
=form_for @user do |f|
  .name
    姓名：
    =f.text_field :name
  .login 
    登录名：
    =f.text_field :login
  .password
    密码：
    =f.password_field :password
  .password_confirmation
    密码确认：
    =f.password_field :password_confirmation
  .email
    电子邮件：
    =f.text_field :email
  .gender
    =f.radio_button :gender,User::GENDER_MALE
    男
    =f.radio_button :gender,User::GENDER_FEMALE
    女
  .submit 
    =f.submit "提交"
