-if flash[:error]
  = flash[:error]

.register_title
  =I18n.t("view.login.user.register")

=form_for @user do |f|
  .name
    =I18n.t("view.login.user.name")
    =f.text_field :name
  .login 
    =I18n.t("view.login.user.login")
    =f.text_field :login
  .password
    =I18n.t("view.login.user.password")
    =f.password_field :password
  .password_confirmation
    =I18n.t("view.login.user.confirm_password")
    =f.password_field :password_confirmation
  .email
    =I18n.t("view.login.user.email")
    =f.text_field :email
  .gender
    =f.radio_button :gender,User::GENDER_MALE
    =I18n.t("common.gender.male")
    =f.radio_button :gender,User::GENDER_FEMALE
    =I18n.t("common.gender.female")
  .submit 
    =f.submit I18n.t("view.login.user.summit")
