=javascript_include_tag 'file_upload/jquery.ui.widget.js'
=javascript_include_tag 'file_upload/jquery.fileupload.js'
=javascript_include_tag 'file_upload/jquery.fileupload-ui.js'
=javascript_include_tag 'file_upload/jquery.fileupload-fp.js'
=javascript_include_tag 'file_upload/locale.js'
=javascript_include_tag 'file_upload/main.js'

=stylesheet_link_tag 'jquery.fileupload-ui.css'

=form_for [@host, @picture] do |f|
  =I18n.t('view.pictures.new')
  =f.file_field :photo
  .submit
    =f.submit :value => I18n.t('common.submit')

// The template to display files available for download
%script#template-upload{:type => "text/x-tmpl"}
  {{ for (var i=0, file; file=o.files[i]; i++) }}
  %tr.template-upload.fade
    %td.preview
      %span.fade
    %td.name
      %span
        {{%=file.name%}}
    %td.size
      %span
        {{%=o.formatFileSize(file.size)%}}
      {{ if (file.error) }}
        %td.error{:colspan=>"2"}
          %span.label.label-important
            {{%=locale.fileupload.error%}}
            {{%=locale.fileupload.errors[file.error] || file.error%}}
      {{ else if (o.files.valid && !i) }}
        %td
          .progress.progress-success.progress-striped.active{:role=>"progressbar","aria-valuemin"=>"0","aria-valuemax"=>"100","aria-valuenow"=>"0"}
            .bar{:style=>"width:0%;"}
        %td.start
          {{ if (!o.options.autoUpload) }}
            %button.btn.btn-primary
              %i.icon-upload.icon-white
              %span
                {{%=locale.fileupload.start%}}
          {{ /if }}
      {{ else }}"
        %td{:colspan=>"2"}
      {{ /if }}
      %td.cancel
        {{% if (!i) { %}}
          %button.btn.btn-warning
            %i.icon-ban-circle.icon-white
            %span
              {{%=locale.fileupload.cancel%}}
        ="{% } %}"
  {{ /for }}

=form_for [@host, @picture], :html=>{:multipart => true} do |f|
  // The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload 
  .row.fileupload-buttonbar
    .span7
      // The fileinput-button span is used to style the file input field as button
      %span.btn.tn-success.fileinput-button
        %i.icon-plus.icon-white
          %span
            Add files...
            =file_field_tag "files[]", :multiple => true 
      %button{:type=>"submit",:class=>"btn btn-primary start"}
        %i.icon-upload.icon-white
        %span
          Start upload
      %button{:type=>"reset",:class=>"btn btn-warning cancel"}
        %i.icon-ban-circle.icon-white
        %span
          Cancel upload
      %button{:type=>"button",:class=>"btn btn-danger delete"}
        %i.icon-trash.icon-white
        %span
          Delete
      %input{:type=>"checkbox",:class=>"toggle"}
  //The global progress information
  .span5.fileupload-progress.fade
  //  The global progress bar
  .progress.progress-success.progress-striped.active{:role=>"progressbar",'aria-valuemin'=>"0",'aria-valuemax'=>"100"}
    .bar{:style=>"width:0%;"}
    // The extended global progress information
    .progress-extended
      &nbsp;
// The loading indicator is shown during file processing
.fileupload-loading
%br
// The table listing the files available for upload/download
%table{:role=>"presentation",:class=>"table table-striped"}
  %tbody.files{'data-toggle'=>"modal-gallery", 'data-target'=>"#modal-gallery"}
																									
