/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
*/
body{font-size:14px;}

.container{margin:0 auto; width:960px;}

.passport{left:0; top:0; width:100%; min-width:960px; height:27px; border-bottom:1px solid #CACACA; vertical-align:middle; font-size:12px;}
.top_nav{float:right; vertical-align:middle; padding:5px 5px 5px 5px;}

.header{height:100px;}
.head_logo{height:70px;}

.guides{margin:2px; height:30px;}
.guides .guide{margin:0 5px; display:inline-block; font-size:14px; line-height:30px;}

.clear{clear:both;}
.no_border{border:0;}

.main_content{margin-top:5px;}
.footer{clear:both; color:#000000; text-align:center; font-size:14px;}

.info_message{}

.area{height:300px;}
.left_area{width:200px; float:left;}
.main_area{width:760px; float:left;}
.main_area .middle_container{width:400px; float:left;}
.main_area .right_container{width:360px; float:right;}

a.info{color:#222222; text-decoration:none;}
a.info:hover{color:#4183C4; text-decoration:none;}
a.data{color:#000000; text-decoration:none;}
a.data:hover{color:#222222; text-decoration:underline;}
a{color:#1E50A2; text-decoration:none;}
a:hover{color:#BA2636; text-decoration:underline;}


img.user_face{border:1px solid #DDD; padding:1px;}
.user_face{padding:1px;}
.tiny img{width:25px; height:25px;}
.medium img{width:100px; height:100px;}

.block_left{display:block; float:left;}

li{list-style:none;}
