.top_area{height:330px;}
.pictures{height:325px; width:580px; float:left; border:1px solid #BBB; background:#131310; overflow:hidden; position:relative;}
#slideshow{height:650px; width:1160px; overflow:hidden; position:relative; list-style-type:none; margin:0; padding:0;}
#slideshow li{height:325px; width:580px; float:left; display:inline; list-style-type:none;}


.top_news{height:325px; width:360px; float:right; border:1px solid #BBB;}

.area{height:300px;}
.half_area{height:150px; margin-top:10px; border: 1px solid #BBB;}
.left_area{width:200px; float:left;}
.main_area{width:760px; float:left;}
.main_area .middle_container{width:400px; float:left;}
.main_area .right_container{width:360px; float:right;}

.top_news .head{height:24px; border-bottom:0px solid #BBB;}
.top_news li{line-height:25px;}
.top_news .more{font-size:12px; margin-right:25px; float:right;}
