.top_area{height:330px;}
.pictures{height:325px; width:580px; float:left; border:1px solid #bbb;}
.top_news{height:325px; width:360px; float:right; border:1px solid #bbb;}

.area{height:300px;}
.left_area{width:200px; float:left;}
.main_area{width:760px; float:left;}
.main_area .middle_container{width:400px; float:left;}
.main_area .right_container{width:360px; float:right;}

