.title
  =I18n.t("view.guide.edit_title")

-if flash[:error]
  =flash[:error]

=form_for @guide,:url=>{:action=>:update} do |f|
  =hidden_field_tag "id", @guide.id
  .guide_name
    =I18n.t("view.guide.name")
    =f.text_field :name

  .guide_father
    =I18n.t("view.guide.father")
    =f.text_field :parent_id

  .guide_show
    =I18n.t("view.guide.show")
    =f.select :is_show, Guide::YES_ON, {:prompt => '请选择是否显示该栏目'}
  
  .guide_way
    =I18n.t("view.guide.way")
    =f.text_field :way

  .guide_sequence
    =I18n.t("view.guide.sequence")
    =f.text_field :sequence

  .guide_uri
    =I18n.t("view.guide.uri")
    =f.text_field :uri

  .submit
    =f.submit I18n.t("common.update")
