
.title
=I18n.t("view.guide.create_title")

-if flash[:error]
  =flash[:error]

=form_for @guide,:url=>{:action => :save} do |f|
  .guide_name
    =I18n.t("view.guide.name")
    =f.text_field :name
  .guide_father
    =I18n.t("view.guide.father")
    =f.text_field :parent_id
  .guide_show
    =I18n.t("view.guide.show")
    =f.text_field :show
  .guide_way
    =I18n.t("view.guide.way")
    =f.text_field :way
  .guide_sequence
    =I18n.t("view.guide.sequence")
    =f.text_field :sequence
  .submit
    =f.submit I18n.t("view.guide.save")
